:root {
    --fuenteHeading: Helvetica, sans-serif;
    --fuenteParrafos: Helvetica, sans-serif;
    
    --negro: #0F1823;
    --blanco: #FEFEFE;
    --dorado: #b48d37;
    --azul: #0E7BB5;
    --azulClaro: #36BFE8;
    --azulOscuro: #024162;
}

html {
    box-sizing: border-box;
    font-size: 58%; /* 1rem = 9.28px, un poquito más pequeño para móviles */
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.4rem;
    line-height: 1.8;
}

/* Globales */
.contenedor {
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
}

a { text-decoration: none; }

h1, h2, h3, h4 { font-family: var(--fuenteHeading); line-height: 1.2;}

h1 { font-size: 3.2rem; }

h2 { font-size: 2.8rem; }

h3 { font-size: 2.4rem; }

h4 { font-size: 2rem; }

img, video { max-width: 100%; }