<main class="inicio">
    <div class="rol">
      <div class="rol__jugador">
        <img src="#" alt="">
        <p>Ahri</p>
      </div>
      <div class="rol__enemigo">
        <img src="#" alt="">
        <p>Zed</p>
      </div>

      <div class="info__rol">
        <p>Tu rol: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eaque est aliquid ab sit cupiditate eos minima, reiciendis alias! Iure repellat inventore ratione nostrum eligendi nulla? Pariatur accusamus quasi esse.</p>
      </div>
    </div>
    <div class="analisis">  
        <div class="analisis__fases">
            <h3>Fase de linea</h3>
            <ul></ul>
            <div class="analisis__consejo">
                <p></p>
            </div>
        </div>

        <div class="analisis__items">
            <h3>Items y adaptaciones</h3>
            <ul></ul>
            <div class="analisis__consejo">
                <p></p>
            </div>
        </div>

        <div class="analisis__rotaciones">
            <h3>Rotaciones</h3>
            <ul></ul>
            <div class="analisis__consejo">
                <p></p>
            </div>
        </div>

        <div class="analisis__objetivos">
            <h3>Teamfights y Objetivos</h3>
            <ul></ul>
            <div class="analisis__consejo">
                <p></p>
            </div>
        </div>
    </div>

    <div class="btn">
        
    </div>
  </main>