<footer class="footer">
    <div class="footer__top">
      <div class="footer__brand">
        <a routerLink="/" routerLinkActive="active"><img src="logo.png" alt="Logo Wild Rift Analyzer" class="footer__logo"></a>
        <div class="footer__info">
          <h2>Wild Rift Analyzer</h2>
          <p>Analiza. Aprende. Gana.</p>
        </div>
      </div>
  
      <div class="footer__links">
        <a href="mailto:wranalyzer@gmail.com">Contacto</a>
        <!--<a href="#">Política de Privacidad</a>-->
      </div>
    </div>
  
    <div class="footer__bottom">
      <p>© {{year}} Wild Rift Analyzer. Todos los derechos reservados.</p>
    </div>
  </footer>
  