<footer class="footer">
    <div class="footer__contenido">
        <div class="footer__logo">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="footer__texto">
            <h1>Wild Rift Analyzer</h1>
            <p>Analiza. Aprende. Gana.</p>
        </div>
    </div>

    <div class="footer__contacto">
        <p>Contacto: wranalyzer&#64;gmail.com | Política de Privacidad</p>
    </div>

    <div class="footer__copyright">
        © 2023 Wild Rift Analyzer | Todos los derechos reservados
    </div>
</footer>
