.footer {
  background-color: var(--negroAzulado);
  padding: 2rem 1.5rem;
  color: var(--blancoSuave);
  font-size: 0.95rem;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(134, 94, 65, 0.149);
  pointer-events: none;
  z-index: 0;
}

.footer__top,
.footer__bottom {
  position: relative;
  z-index: 1;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 1.5rem;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.footer__info h2 {
  margin: 0;
  font-size: 1.3rem;
  color: var(--blancoSuave);
}

.footer__info p {
  margin: 0.3rem 0 0;
  color: var(--grisClaroAzulado);
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__links a {
  color: var(--blancoSuave);
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer__links a:hover {
  color: var(--naranjaDorado);
}

.footer__bottom {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  color: var(--grisClaroAzulado);
}

@media (min-width: 768px) and (max-width: 1023px) { 

  .footer {
    padding: 3rem;
  }

  .footer__top,
  .footer__bottom {
    max-width: 70rem;
    margin: 0 auto;
  }

  .footer__top {
    gap: 4rem;
  }

  .footer__brand {
    gap: 2rem;
  }

  .footer__logo {
    width: 80px;
    height: 80px;
  }

  .footer__info h2 {
    font-size: 2.2rem;
  }

  .footer__info p {
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }

  .footer__links a {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .footer__links a:hover {
    color: var(--naranjaDorado);
  }

  .footer__bottom {
    margin-top: 2rem;
    font-size: 1.3rem;
  }

}

@media (min-width: 1024px) {
  .footer {
    padding: 6rem 4rem;
  }

  .footer__top,
  .footer__bottom {
    max-width: 70rem;
    margin: 0 auto;
  }

  .footer__top {
    gap: 4rem;
  }

  .footer__brand {
    gap: 2rem;
  }

  .footer__logo {
    width: 80px;
    height: 80px;
  }

  .footer__info h2 {
    font-size: 2rem;
  }

  .footer__info p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  .footer__links a {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .footer__links a:hover {
    color: var(--naranjaDorado);
  }

  .footer__bottom {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
