.nosotros {
  background-color: var(--blancoSuave);
  padding: 4rem 2rem;
  text-align: center;
}

.nosotros__contenido {
  max-width: 800px;
  margin: 0 auto;
}

.texto h2 {
  font-size: 2rem;
  color: var(--NegroAzulado);
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1.1rem;
  color: var(--azulOscuro);
  line-height: 1.8;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .nosotros {
    padding: 6rem 4rem;
  }

  .texto h2 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
  }

  .texto p {
    font-size: 1.5rem;
  }

 }

@media (min-width: 1024px) {
  .nosotros {
    padding: 8rem 4rem;
  }

  .texto h2 {
    font-size: 3.2rem;
    padding-bottom: 1rem;
  }

  .texto p {
    font-size: 1.5rem;
  }
}