.nosotros {
    text-align: center;
    padding: 2rem;
}

.nosotros h2 {
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}

.nosotros p {
    line-height: 1.6;
    margin: 0 2.5rem;
    color: var(--gris);
}
