<section class="nosotros">
  <div class="nosotros__contenido">
    <div class="texto">
      <h2>¿Por qué usar este coach inteligente?</h2>
      <p>Este coach inteligente te ofrece análisis detallados de cada partida para ayudarte a mejorar tus decisiones, optimizar tus campeones y runas, y anticipar las jugadas enemigas. Con recomendaciones personalizadas y consejos en tiempo real, estarás listo para dar lo mejor de ti en cada partida y avanzar en tu rendimiento.</p>
    </div>
  </div>
</section>
