.nosotros {
  background-color: var(--blancoSuave); /* Cambié a blanco perla para mantener la armonía */
  padding: 4rem 2rem;
  text-align: center;
}

.nosotros__contenido {
  max-width: 800px;
  margin: 0 auto;
}

.texto h2 {
  font-size: 2rem;
  color: var(--NegroAzulado); /* Mantengo el azul profundo para un contraste elegante */
  margin-bottom: 1rem;
}

.texto p {
  font-size: 1.1rem;
  color: var(--azulOscuro); /* Cambié a gris claro para mayor suavidad */
  line-height: 1.8;
}
